bin/
obj/
out/


appsettings.Development.json
appsettings.json

Inventory-management.csproj
Inventory-management.sln
Inventory-management.user
package-lock.json
package.json
web.config


*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
.history/

.idea/
*.sln.iml

**/App_Data/
**/App_Start/
**/Properties/

*.nupkg
packages/
project.lock.json
project.assets.json
*.snupkg

*.log
logs/

wwwroot/dist/
wwwroot/node_modules/
wwwroot/lib/

appsettings.Development.json
appsettings.Local.json
appsettings.*.json
secrets.json
